<a href="https://colab.research.google.com/github/ArchanaSahoo89/Advance_DataStructure_Assignment/blob/main/Advance_DataStructure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Write a code to reverse a string.

txt = input("Enter a text:")
r_txt = txt [::-1]
print (r_txt)

Enter a text:PYTHON
NOHTYP

In [ ]:
# 2. Write a code to count the number of vowels in a string.

txt = input("Enter a text:")
v_count = 0
for i in txt:
	if i.lower() in "aeiou":
		v_count += 1
print (v_count)

Enter a text:CAMERA
3

In [ ]:
# 3. write a code to check if a given string is palindrome or not.

txt = input ("Enter a text:")
r_txt = txt [::-1]

if txt == r_txt:
	print ("Text is palindrome")
else:
	print ("Text is not palindrome")

Enter a text:WOW
Text is palindrome

In [ ]:
# 4.Write a code to check if two given strings are anagrams of each other.

str1 = input ("Enter str1:")
str2 = input ("Enter str2:")

str1 = str1.lower()
str2 = str2.lower()

if len(str1) ==  len(str2):

	sort_str1  = sorted(str1)
	sort_str2 = sorted(str2)

	if(sort_str1 == sort_str2):
		print(str1 + " and " + str2 + " are anagram")
	else:
		print(str1 + " and " + str2 + " are not anagram")

else:
	print(str1 + " and " + str2 + " are not anagram")

race and care are anagram

In [ ]:
# 5. Write a code to find all occurences of a given substring within another string.

txt = input ("Enter a text:")
parent_txt = input ("Enter p_text:")

if txt in parent_txt:

	print (parent_txt.count(txt))

Enter a text:a
Enter p_text:Archana
2

In [ ]:
# 6.write a code to perform basic string compression using the counts of repeated charactres.

s = "aabcccccaaa"
compressed = []
count = 1

for i in range(1, len(s)):
    if s[i] == s[i - 1]:
        count += 1
    else:
        compressed.append(s[i - 1] + str(count))
        count = 1

compressed.append(s[-1] + str(count))

compressed_string = ''.join(compressed)
print(compressed_string)

a2b1c5a3

In [ ]:
# 7. Write a code to determine if a string has all unique characters.

txt = input("Enter a text:")
t_set = set()
for i in txt:
  t_set.add(i)

if len(txt) == len(t_set):
  print ("txt contains all unique chars.")
else:
  print("txt contains duplicate chars.")

Enter a text:elephant
txt has duplicate chars.

In [ ]:
# 8. Write a code to convert a given string to upper or lower case.

txt = input("Enter a text:")
s_txt = txt.swapcase()
print (s_txt)

Enter a text:Testing
tESTING

In [ ]:
# 9. Write a code to count the number words in a string.

txt = input ("Enter any text:")
list1 = txt.split()
w_count = len (list1)
print ("w_count = ", w_count )

Enter any text:ram is looking at her
w_count =  5

In [ ]:
# 10. Write a code to concatenete two strings without using the + operator.

txt1 = input ("Enter 1st string:")
txt2 = input ("Enter 2nd string:")

c_txt = f"{txt1}{txt2}"
print (c_txt)

Enter 1st string:Archana
Enter 2nd string:Ssahoo
ArchanaSsahoo

In [ ]:
# 11. Write a code to remove occurence of a specific element from a list.

list1 = [10, 5, 20, 2, 37, 28, 22, 50, 30, 44, 2, 55, 57, 5, 50, 50 ]
r_value = int(input("Enter the value to be removed:"))
for i in list1:
    if i == r_value:
      list1.remove(r_value)
print (list1)

Enter the value to be removed:5
[10, 20, 2, 37, 2, 22, 30, 44, 2, 55, 57, 50]

In [ ]:
# 12. Write a code to find the second largest number in a given list of integer.

list1 = [10, 100, 1000, 2000, 50, 90, 77, 500, 97]
list2 = []
highest = max(list1)

i=0
while i <= (len(list1) -1):
    if list1[i] < highest:
        list2.append(list1[i])
    i+=1

second_largest_number = max(list2)
print ("second largest no. in the list:",second_largest_number)

second largest no. in the list: 1000

In [ ]:
# 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

list1 = ["a", "Python", 3, 4, "a", 4, 5, "Python", 7]
key1 = []
values1 = []
dict1 = dict()

i = 0
while i < (len(list1)):
  if list1[i] in key1:
    i += 1
    continue
  else:
    key1.append(list1[i])
    count1 = list1.count(list1[i])
    values1.append(count1)
    i += 1

for x,y in zip(key1,values1):
  dict1 [x] = y

print (dict1)

{'a': 2, 'Python': 2, 3: 1, 4: 2, 5: 1, 7: 1}

In [ ]:
# 14. Write a code to reverse a list in-place without using any built-in reverse function.

list1 = [10, 15, True, "Python", "Building", (3+6j), 90, 500]
rev_list1 = list1 [::-1]
print (rev_list1)

[500, 90, (3+6j), 'Building', 'Python', True, 15, 10]

In [ ]:
# 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

list1 = [1, 2, 3, 4, 1, "Python", 3 , "Python"]
list2 = []
i = 0
while i < (len(list1)):
  count = list1.count(list1[i])
  if count == 1:
    list2.append (list1[i])
    i +=1
  else:
    if list1[i] in list2:
      i +=1
      continue
    else:
      list2.append(list1[i])
      i += 1
print (list2)

[1, 2, 3, 4, 'Python']

In [ ]:
# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

list1 = [1, 2, 90, 500, 4, 55, 67, 40]
Asc_list1 = sorted(list1)
Desc_list1 = sorted(list1, reverse = True)

if list1 == Asc_list1:
  print ("List1 is sorted in Ascending order.")
elif list1 == Desc_list1:
  print ("List1 is sorted in descending order.")
else:
  print ("List1 is not sorted.")

List1 is not sorted

In [ ]:
# 17. Write a code to merge two sorted lists into a single sorted list.

lst1 = [25, 35, 45, 65, 85, 95]
lst2 = [20, 30, 40, 60, 80, 90]
lst3 = sorted (lst1 + lst2)
print(lst3)

[20, 25, 30, 35, 40, 45, 60, 65, 80, 85, 90, 95]

In [ ]:
# 18. Implement a code to find intersection of two given lists.

lst1 = (input ("Enter 1st list members separated by comma: ")).split(',')
lst2 = (input ("Enter 2nd list members separated by comma: ")).split(',')

set1 = set(lst1)
set2 = set(lst2)
set3 = set1.intersection(set2)
print (list(set3))

Enter 1st list members separated by comma: 10,20,30,40
Enter 2nd list members separated by comma: 90,20,80,30
['30', '20']

In [ ]:
# 19. create a code to find union of two lists without duplicates.

list1 = (input ("Enter 1st list members separated by comma: ")).split(',')
list2 = (input ("Enter 2nd list members separated by comma: ")).split(',')

set1 = set(list1)
set2 = set(list2)
print (set1.union(set2))

Enter 1st list members separetd by comma: 10,11,10,2,3,5,2
Enter 2nd list members separetd by comma: 'python', 5,3,1,2,6
{'6', "'python'", '2', '1', ' 5', '10', '3', '11', '5'}

In [ ]:
# 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

import random
def shuffle_list(lst):
    n = len(lst)
    for i in range(n-1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst


original_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(original_list.copy())
print("Original list:", original_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [4, 1, 2, 3, 5]

In [ ]:
# 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

tple1 = (1, 2, 3, 4)
tple2 = (2, 3, 5, 6)

set1 = set (tple1)
set2 = set (tple2)
set3 = set1.intersection(set2)
tple3 = tuple(set3)
print (tple3)

(2, 3)

In [ ]:
# 22. Create a code that prompts the user to enter two sets of integers separated by comma.Then print the intersection of these two sets.

lst1 = input("Enter the first set of integers, separated by commas: ")
lst1 = lst1.split (",")
set1 = set(int(i) for i in lst1 )

lst2 = input("Enter the first set of integers, separated by commas: ")
lst2 = lst2.split (",")
set2 = set(int(i) for i in lst2 )

c_members = set1.intersection(set2)
print("Intersection of set1 & set2:", c_members)

Enter the first set of integers, separated by commas: 1,2,4,6
Enter the first set of integers, separated by commas: 7,2,4,6
Intersection of set1 & set2: {2, 4, 6}

In [ ]:
# 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

def concatenate_tuples (tuple_1,tuple_2):
    return (tuple_1 + tuple_2)

tuple_1 = (1,2,3)
tuple_2 = (5,7,8)
tuple_3 = concatenate_tuples(tuple_1, tuple_2)
print (tuple_3)

(1, 2, 3, 5, 7, 8)

In [ ]:
# 24. Develop a code that prompts a user to input two sets of strings. Then print the elements that are present in the first set but not in the second set.

str1 = input ("Enter set of String_1 separated by spaces: ")
set1 = set(str1.split())

str2 = input ("Enter set of string_2 separated by spaces: ")
set2 = set(str2.split())

set3 = set1 - set2

print ("Elemnets present in str1 but not in str2", set3)

Enter set of String_1 separated by spaces: b o o k
Enter set of string_2 separated by spaces: o o p s
Elemnets present in str1 but not in str2 {'b', 'k'}

In [ ]:
# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

def slice_tuple(input_tuple, start_index, end_index):
    return input_tuple[start_index:end_index]

input_tuple = (10, 260, 300, 409, 507, 605, 70)
start_index = 2
end_index = 5
result = slice_tuple(input_tuple, start_index, end_index)

print("Sliced tuple:", result)

Sliced tuple: (300, 409, 507)

In [ ]:
# 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

set1 = set(input ("Enter set of characters separated by spaces: ").split())

set2 = set(input ("Enter set of characters separated by spaces: ").split())

union_set = set1.union(set2)
print ("Union of Set1 and set2: ", union_set)

Enter set of characters separated by spaces: j a v a
Enter set of characters separated by spaces: p y t h o n
Union of Set1 and set2:  {'t', 'y', 'p', 'a', 'o', 'j', 'v', 'n', 'h'}

In [ ]:
# 27. Develope a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

def find_max_min(numbers):
    max_val, min_val = max(numbers), min(numbers)
    return max_val, min_val

numbers = (10, 5, 90, 60,26)
find_max_min(numbers)

(90, 5)

In [ ]:
# 28. create a code that defines two sets of integers. Then find the union, intersection and difference of these two sets.

s1= {1, 2, 4, 3,6}
s2= {5, 6, 8, 9, 4, 6}
union_set = s1.union(s2)
intersection_set = s1.intersection(s2)
Difference_set = s1.difference(s2)
print("union of s1 and s2:", union_set)
print("Intersection of s1 and s2:", intersection_set)
print ("Difference of s1 and s2:", Difference_set)

union of s1 and s2: {1, 2, 3, 4, 5, 6, 8, 9}
Intersection of s1 and s2: {4, 6}
Difference of s2 from s1: {1, 2, 3}

In [ ]:
# 29. Write a code that takes a tuple and an integer as input. The function should return the count of occurance of the given elemnet in the tuple.

def count_occurance(tuple1, element):
  return tuple1.count(element)

tuple1 = (109,34,65,78,32,(-3+5j),78,34,32,78,1098)
element = int(input("Enter any element from the given tuple: "))

occurances = count_occurance(tuple1, element)
print(occurances)

Enter any element from the given tuple: 34
2

In [ ]:
# 30. Develope a code that prompts the user to input two sets of strings. Then print the symmetric difference of these two sets.

set1_input = input("Enter the first set of strings,separated by commas: ")
set1 = set(set1_input.split(','))

set2_input = input("Enter the second set of strings,separated by commas: ")
set2 = set(set2_input.split(','))

symmetric_diff = set1.symmetric_difference(set2)
print("The symmetric difference between the two sets is:", symmetric_diff)

In [ ]:

# 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

words = input("Enter a list of words separated by spaces: ").split()

word_frequency = {}

for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

print("Word Frequencies:", word_frequency)

Enter a list of words separated by spaces: 'Ram' 'Shyam' 'Krishna' 'Ram' 'Krishna'
Word Frequencies: {"'Ram'": 2, "'Shyam'": 1, "'Krishna'": 2}

In [ ]:
# 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the vales should be added together.

dict1 = eval(input("Enter the first dictionary: "))
dict2 = eval(input("Enter the second dictionary: "))

merged_dict = dict1.copy()

for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value


print("Merged Dictionary:", merged_dict)

Enter the first dictionary: {'a': 10, 'b': 20, 'c': 30}
Enter the second dictionary: {'b': 5, 'c': 15, 'd': 25}
Merged Dictionary: {'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [ ]:
# 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

nested_dict = {'a': {'b': {'c': 'value'}}}

keys = ['a', 'b', 'c']
print(get_nested_value(nested_dict, keys))

keys = ['a', 'b', 'd']
print(get_nested_value(nested_dict, keys))

value
None

In [ ]:
# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

input_dict = {'apple': 3, 'banana': 1, 'cherry': 2}

ascending = True

sorted_items = sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending)

sorted_dict = dict(sorted_items)

print("Sorted Dictionary:", sorted_dict)

Sorted Dictionary: {'banana': 1, 'cherry': 2, 'apple': 3}

In [ ]:
# 35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value not in inverted:
            inverted[value] = [key]
        else:
            inverted[value].append(key)
    return inverted

original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

inverted_dict = invert_dict(original_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}